
body {
  background: url("../images/white-brick-street-art.png") no-repeat center fixed;
  background-size: cover;
}
body.transition {
  transition-property: background-position-x;
  transition-duration: 1s;
}
