@font-face {
    font-family: 'Tilde-Grande';
    src: font-url('Tilda/Tilda-Grande.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tilde-Petite';
    src: font-url('Tilda/Tilda-Petite.woff2');
    font-weight: normal;
    font-style: normal;
}