
// Spacing
body {
    padding-top: 70px;
}

// Need to fix this
nav.navbar {
  background-color: transparent;
  border-color: transparent;
}
nav div.container
div.navbar-header a {
  color: black;
}
div#navbar ul.nav li {
  a {
    color: black;
    outline: none;
  }
}
