
// Spacing
body {
    padding-top: 70px;
}

// My navbar theme
$navbar-transparent-color:          rgb(255, 255, 255);
$navbar-transparent-active-color:   rgb(255, 255, 255);
$navbar-transparent-hover-color:    rgb(255, 255, 255);
$navbar-transparent-disabled-color: rgb(255, 255, 255);
// White text on transparent background
.navbar-transparent {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-transparent-active-color;

    // @include hover-focus {
    //   color: $navbar-transparent-active-color;
    // }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-transparent-color;

      // @include hover-focus {
      //   color: $navbar-transparent-hover-color;
      // }

      &.disabled {
        color: $navbar-transparent-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      // @include plain-hover-focus {
      //   color: $navbar-transparent-active-color;
      // }
    }
  }

  .navbar-toggler {
    // background-image: $navbar-transparent-toggler-bg;
    border-color: rgba(0,0,0,0);
  }

  .navbar-divider {
    background-color: rgba(0,0,0,0);
  }

  .navbar-text {
    color: $navbar-transparent-color;
  }
}
