@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap-variables";
@import "bootstrap";
@import "navbar";
@import "unordered-list";
@import "ordered-list";
@import "theme";
@import "background-position";
@import "pages";
@import "fonts";


body {
    padding-bottom: 30px;
}

div.main.container {
  border-radius: 4px;
  color: darken(white, 20%);
  background-color: transparentize(black, 0.15);
}
