<div id="home">
  <%= partial 'partials/pages/home' %>
</div>
<div id="page1">
  <%= partial 'partials/pages/page1' %>
</div>
<div id="page2">
  <%= partial 'partials/pages/page2' %>
</div>
<div id="page3">
  <%= partial 'partials/pages/page3' %>
</div>
