---
title:  clemnette - home
layout: default
---

<div class="bride-and-groom">
  <h1>
    Clement Theiry<br>
    and<br>
    Annette Lalic
  </h1>
</div>
<div class="save-the-date-info">
  <h3>
    August 26,2017<br>
    <a href="http://rouge-gazon.fr/">Rouge Gazon</a><br>
    Save the date!
  </h3>
</div>
